<!DOCTYPE html>
<html lang="en">
  {%- set pageDescription %}{% if description %}{{
    description
  }}{% else %}{{
    meta.siteDescription
  }}{% endif %}{% endset -%} {%- set pageSocialImg %}{{
    meta.url
  }}/previews/{% if title %}{{
    title | slug
  }}{% else %}home{% endif %}.png{% endset -%}
  <head>
    <!-- Generated from the 11ty Netlify Jumpstart: https://github.com/5t3ph/11ty-netlify-jumpstart -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}" />
    <link rel="icon" href="{{ '/favicon.png' | url }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />
    <meta name="twitter:card" content="summary_large_image" />
    {% if meta.twitterUsername %}
    <meta name="twitter:creator" content="@{{ meta.twitterUsername }}" />
    {% endif %}
    <meta name="twitter:title" content="{{ pageTitle }}" />
    <meta name="twitter:description" content="{{ pageDescription }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:title" content="{{ pageTitle }}" />
    <meta name="og:description" content="{{ pageDescription }}" />
    <meta property="og:image" content="{{ pageSocialImg }}" />
    <meta name="twitter:image" content="{{ pageSocialImg }}" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for {{ meta.siteName }}"
      href="/feed/"
    />
  </head>
  <body>
    {{ content | safe }}

    <script src="js/gallery.js"></script>
    <a id="arrowUp" href="#" class="arrowUp">
      <i class="fas fa-angle-double-up"></i>
    </a>
  </body>
</html>
