.advantages-wrap {
  background-image: url("https://themebeyond.com/demo/suplive/wp-content/uploads/2020/12/features_bg-1.jpg");
}
.adv__icon {
  img {
    width: 59px;
  }
}

.advantages {
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.widget-container {
  &:hover {
    background: white;
    padding: 60px 25px;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
    margin-bottom: 0;
  }
  background: transparent;
  padding: 60px 25px;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
  margin-bottom: 0;
}

.adv__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px 0px rgb(69 68 68 / 8%);
  border: 1px dashed #e1e1e1;
  margin: 0 auto 20px;
  img {
    transition: 0.5s linear;
    transform: rotateY(0deg);
  }
}

.advantages__item {
  &:hover {
    img {
      transform: rotateY(360deg);
    }
  }
  h5 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
  }
}
