.blogs {
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  padding-top: 120px;
  padding-bottom: 120px;
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 40px;
      font-weight: 700;
    }
    .title__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }
  &__container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
      max-width: 720px;
    }
  }

  &__content {
    padding: 40px 30px 35px;
    border: 1px solid #f3f3f3;
    border-top: none;
    background: #fff;
  }

  &__item {
    img {
      width: 100%;
    }
    @media (max-width: 992px) {
      margin: 0 auto;
      &:last-child {
        margin-top: 30px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }
  &__btn-container {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__btn-label {
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0;
  }

  &__text {
    margin: 15p 0 30px;
    color: #747373;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    span {
      color: #2acb35;
    }
  }

  &__btn {
    margin-left: 10px;
    cursor: pointer;
    color: white;
    outline: none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 4px 12.09px 0.91px #2acb354d;
    border: none;
    padding: 0;
    background: #2acb35;
  }
}
