.brends {
  padding-top: 120px;
  padding-bottom: 120px;
  &-wrap {
    display: flex;
    justify-content: space-around;
  }
  @media (max-width: 992px) {
    .brends__item5 {
      display: none;
    }
    .brends__item4 {
      display: none;
    }
  }
}
