.doctors {
  padding-top: 110px;
  padding-bottom: 65px;
  position: relative;
  background: url("../img/doctors/doctors-back.jpg");
  background-position: 50%;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #1d142c;
    opacity: 0.9;
  }
  &__title {
    max-width: 58%;
    margin: 0 auto 55px;
    position: relative;
    h3 {
      font-size: 36px;
      margin: 0;
      text-transform: capitalize;
      color: #fff;
      text-align: center;
    }
  }
  .title__text {
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }

  &-wrap {
    padding: 0 15px;
    margin: 0 auto;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 0 80px;
    column-gap: 30px;
  }
  &__item {
    display: flex;
    padding: 0 0 55px;
    @media (max-width: 992px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
    }
    img {
      border-radius: 50%;
      border: 3px solid #fff;
      width: 91px;
      height: 91px;
      margin-right: 25px;
      @media (max-width: 992px) {
        margin: 0 0 30px;
      }
    }
  }
  &__label {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  &__text {
    font-size: 14px;
    line-height: 26px;
    color: #dbdbdb;
    margin: 0 0 15px;
  }
  &__position {
    color: #2acb35;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
  }
}
