.header_stick {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  animation: fadeInDown 0.5s;
  box-shadow: 0 10px 15px #1919191a;
  background: white;
}
.header {
  padding: 0;
  border-bottom: 1px solid #2acb352b;
  background: white;
}

// .header__padding {
//   font-size: 15px;
//   padding: 10px 0;
//   border-bottom: 1px solid #2acb352b;
//   width: 100%;
//   position: fixed;
//   z-index: 99;
//   top: 0;
//   background: white;
//   @media (max-width: 992px) {
//     opacity: 0;
//   }
// }
.nav_links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.nav__navigatione {
  display: flex;

  & a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
  }
}

.nav__item {
  padding: 31px 0;
  margin-left: 32px;
  position: relative;
  &:first-child {
    margin-left: 0;
  }
}

.beforee {
  width: 1px;
  height: 30px;
  background: #d7d7d7;
  margin: 0 15px;
}

.navbar_header {
  a img {
    width: 190px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon::before {
  content: "";
  position: relative;
  right: 0;
  top: 50%;
  height: 25px;
  width: 1px;
  background: #d7d7d7;
  transform: translateY(-50%);
  border-radius: 50%;
}

.header_action {
  ul {
    display: flex;
    li a i {
      width: 14px;
    }
  }
}

.btn {
  border-radius: 25px;

  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 0;
  padding: 16px 40px;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.4s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
  border: 2px solid #2acb35;
  background: #2acb35 none repeat scroll 0 0;
  text-decoration: none;

  &:hover {
    background: white;
  }
}

.header__btn {
  margin-left: 32px;
  a {
    color: white;

    &:hover {
      color: #2acb35;
    }
  }
}

.shop-cartt {
  a {
    position: absolute;
  }
}

.fas.fa-search {
  color: #2acb35;
}

.fas.fa-shopping-basket {
  color: #2acb35;
}

.counter {
  height: 15px;
  width: 15px;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 15px;
  font-size: 10px;
  border-radius: 50%;
  font-weight: 600;
  top: 0;
  right: -6px;
  background: #2acb35;
  color: #fff;
}

.header__link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.search_type {
  color: #2acb35;
  line-height: 30px;
  width: 30px;
  text-align: center;
  margin: 0 10px 0 16px;
  padding-right: 10px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 25px;
    width: 1px;
    background: #d7d7d7;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}
.basket_type {
  color: #2acb35;
  line-height: 30px;
}
