.home__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  img {
    width: 48%;
  }

  @media (max-width: 992px) {
    margin: 0 auto;
    flex-direction: column-reverse;
    img {
      width: 570px;
    }
  }
}
.nav__navigatione {
  a:hover {
    color: black;
  }
}

.home__text {
  width: 48%;

  @media (max-width: 992px) {
    width: 610px;
    text-align: center;
    h1 {
      font-size: 54px;
    }
  }
  h1 {
    font-size: 65px;
    line-height: 1.2;
    font-weight: bold;
    span {
      color: #2acb35;
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #747373;
    margin-bottom: 35px;
  }
}

.home__btns {
  @media (max-width: 992px) {
    display: flex;
    justify-content: center;
    width: 610px;
  }
  .home_right__btn a {
    color: white;
    &:hover {
      color: #2acb35;
    }
  }

  .home_left__btn a {
    margin-left: 20px;
    color: #2acb35;
    background: white;

    &:hover {
      color: white;
      background: #2acb35;
    }
  }
  display: flex;
}
