.ingredients {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url("../img/ingredients_back.jpg");
}

.ingredients__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    font-size: 36px;
  }
  p {
    line-height: 28px;
  }
}

.ingredients__text {
  width: 700px;
  text-align: center;
}

.ingredients__main {
  img {
    margin-right: 20px;
  }
  display: flex;
  @media (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ingredients__img {
      margin: auto 0;
      img {
        max-width: 100%;
      }
    }
  }
}
.ingredients__img {
  width: 45%;
  margin-right: 20px;
}

.faq {
  width: 48%;
  details {
    p {
      font-size: 14px;
      line-height: 28px;
      color: #747373;
      border-top: 1px dashed #d7d7d7;
    }
    margin-bottom: 20px;
    padding: 23px 25px;
    background: #fff;
    box-shadow: 0px 0px 70px 0px rgb(45 3 91 / 5%);
    list-style-type: none;
    summary {
      font-size: 16px;
      color: #3c3444;
      font-weight: 600;
      cursor: pointer;
      &::-webkit-details-marker {
        display: none;
      }
      &::-moz-list-bullet {
        list-style-type: none;
      }

      &::after {
        float: right;
        display: inline-block;
        transition: transform 0.5s;
        content: "\f067";
        color: #747373;
        line-height: 20px;
        font-family: "Font Awesome 5 Free";
        height: 26px;
        width: 26px;
        text-align: center;
        font-weight: 700;
        font-size: 10px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #747474;
      }
      // display: block; - не всегда уместно
    }
  }
  @media (max-width: 992px) {
  }
}
