.links {
  margin-top: -100px;
  padding-top: 175px;
  padding-bottom: 90px;
  background: url("../img/links_back.jpg");
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    width: 100%;
    color: #969696;
    h4 {
      color: white;
    }
    a {
      text-decoration: none;
      color: #969696;
    }
    .ul__links {
      display: flex;
    }
    .links__soccc {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40;
      color: #949697;
      background: #252526;
      border-radius: 50%;
      font-size: 14px;
    }
    @media (max-width: 992px) {
      max-width: 720px;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__social {
    img {
      max-width: 190px;
      margin-bottom: 35px;
    }
    p {
      font-size: 14px;
      line-height: 30px;
      margin: 0 0 25px;
      font-weight: 500;
    }
  }

  &__soc-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__soc {
    margin-right: 7px;
  }

  &__soc-link {
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #949697;
    background: #252526;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      color: #2acb35;
    }

    &:last-of-type {
      margin: 0;
    }
  }
  &__useful {
    display: flex;
    flex-direction: column;
    a {
      color: #969696;
      display: block;
      line-height: 30px;
      font-size: 16px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px dashed #464547;

      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: none;
        color: #2acb35;
      }
    }
  }
  &__send-form {
    display: flex;
    flex-direction: column;
    input {
      border: none;
      padding: 9px 16px;
      width: 100%;
      border-radius: 3px;
      margin-bottom: 10px;
      font-size: 12px;
    }
    textarea {
      border: none;
      padding: 12px 16px;
      width: 100%;
      border-radius: 3px;
      margin-bottom: 10px;
      font-size: 12px;
      height: 98px;
    }
    .links_btn {
      padding: 14px 40px;
      border-radius: 3px;
      text-align: center;
      border: 2px solid #2acb35;
      transition: all 0.4s ease-in-out;
      background: #2acb35;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      &:hover {
        background: border-box;
      }
    }
  }
}

.post__item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #464547;
  &:last-child {
    border-bottom: none;
  }
  .post__text {
    margin-left: 10px;
    a {
      line-height: 24px;
      font-size: 14px;
      margin: 0 0 5px;
      color: white;
      &:hover {
        background: none;
        color: #2acb35;
      }
    }
    p {
      font-size: 12px;
      line-height: 30px;
    }
  }
}

.footer {
  background: black;
  padding: 35px 0;
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  &__text {
    color: #969696;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
  }
}
