.form-news {
  z-index: 4;
  position: relative;
  padding: 0 10px;

  &__header {
    width: 100%;
    max-width: 33%;
  }

  &__container {
    box-shadow: 0px 2px 12.09px 0.91px #4444443d;
    background: #fff;
    background-image: url("../img/news__back.jpg");
    border: 8px solid #2acb35;
    background-position: center;
    background-size: cover;
    padding: 40px 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    max-width: 66%;
  }

  &__title {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px;
  }

  &__subtitle {
    font-size: 16px;
    color: #5b5b5b;
    font-weight: 500;
    font-style: italic;
    display: block;
    margin: 0;
  }

  &__input {
    padding: 22px 25px;
    border: none;
    background: #edecec;
    font-size: 14px;
    margin-right: 3px;
    width: 465px;
    box-sizing: border-box;
  }

  &__submit {
    box-sizing: border-box;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    text-transform: capitalize;
    padding: 18px 30px;
    border-radius: 0;
    background: #2acb35;
    outline: none;
    color: white;
    cursor: pointer;
    border: 2px solid #2acb35;
    transition: all 0.4s ease-in-out;

    &:hover {
      background: white;
      color: #2acb35;
    }
  }
}
