.order-wrap {
  display: flex;
  @media (max-width: 992px) {
    flex-direction: column;

    .container {
      margin: 0 auto;
    }
  }
}

.order_title {
  text-align: center;

  h3 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
  }
  p {
    width: 52%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  @media (max-width: 992px) {
    h3 {
      font-size: 36px;
    }
    p {
      font-size: 16px;
      color: #747373;
      width: 560px;
      line-height: 28px;
    }
  }
}

.bar {
  height: 2px;
  width: 165px;
  background: #c4c4c4;
  margin: 20px auto 30px;
  position: relative;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    animation: bar 4s linear infinite;
    background: #2acb35;
  }
}

.order {
  padding-top: 120px;
  padding-bottom: 120px;
}

.order-img {
  margin-right: 50px;
  @media (max-width: 992px) {
    margin: 0 auto;
  }
}

.order-content {
  width: 38%;
  h3 {
    font-weight: 700;
  }
  @media (max-width: 992px) {
    width: 95%;
    margin: 0 auto;
    h3 {
      margin-top: 25px;
      font-size: 30px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 20px;
      font-size: 14px;
      color: #747373;
      margin-bottom: 41px;
      line-height: 26px;
    }
  }
}

.order_btn {
  padding-bottom: 40px;
  margin-bottom: 35px;
  border-bottom: 1px dashed #d7d7d7;

  a {
    color: white;
  }
}

.product__info {
  font-size: 14px;
}

.price {
  i {
    margin-right: 10px;
  }
  color: #2acb35;
}

.product__category {
  font-size: 14px;
  i {
    margin-right: 10px;
    color: #2acb35;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.nav_rev {
  display: none;
}

.nav_rev:target {
  display: block;
}

.DESCRIPTION {
  display: block;
  p {
    font-size: 12px;
    line-height: 26px;
  }
}

.required {
  color: red;
}

.reviews_tabs {
  margin-top: 15px;
  a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.tab-link:nth-child(2) {
  margin-left: 10px;
}
.reviews__commet {
  img {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
  }
  p {
    font-size: 14px;
  }
}

.reviews__content {
  span {
    color: #2acb35;
  }
  p {
    strong {
      color: #3c3444;
    }
    span {
      color: black;
    }
  }
}

#rating {
  background: #f1f1f1;
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
}

.review_form {
  .text__info__review {
    font-weight: bold;
    margin-bottom: 15px;
  }
  textarea {
    width: 100%;
    padding: 20px 20px;
    border: none;
    background: #f1f1f1;
    font-size: 14px;
    font-weight: 500;
    color: #6c6c6c;
  }
}
.input_100 {
  width: 100%;
  padding: 19px 20px;
  border: none;
  background: #f1f1f1;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 500;
}

.comment-form-cookie {
  display: flex;
  padding: 0 0;
}

.form-submit {
  input {
    background: #2acb35;
    color: #fff;
    cursor: pointer;
  }
}

.comment-form-cookie {
  label {
    font-size: 16px;
  }
}

.product-nav-active {
  display: flex;
  justify-content: space-around;
  width: 720px;
  margin-top: 20px;

  img {
    width: 23.5%;
    border: 3px solid transparent;
    &.active {
      border: 3px solid tomato;
    }
  }
}

.active-product {
}

.comment-notes {
  font-size: 14px;
  span {
    font-size: 14px;
  }
}
