.packages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 992px) {
    max-width: 720px;
  }
}

.packages__title {
  h4 {
    font-size: 36px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.pacages__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 992px) {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.packages__text {
  font-size: 19px;
  text-align: center;
  width: 700px;
  line-height: 25px;
}
.price__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 64px;
  }
}

.price_cart {
  box-shadow: 0px 0px 46px 0px rgb(97 104 212 / 20%);
  border-radius: 8px;
  border-top: 7px solid #eae6e4;
  border-bottom: 7px solid #eae6e4;
  padding: 80px 70px;
  background: #fff;
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    border-color: #2acb35;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 0px 27px 0px rgb(97 104 212 / 17%);
    padding: 18px 10px;
    border-radius: 50px;
    margin: 0 10px;
    color: #444172;
    margin-bottom: 15px;
  }
  h5 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
  }
}

.price__head {
  span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    color: #9098a9;
    margin-bottom: 25px;
  }
  p {
    line-height: 1.1;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #717f99;
  }
}

.price__list {
  p {
    padding-bottom: 12px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #717f99;
  }
}

.price__btn {
  a {
    padding: 10px 15px 10px 28px;
    font-size: 16px;
    background: #3c3444;
    color: white;
    border: none;
  }
  a:hover {
    background: #2acb35;
    color: white;
  }
}

.price__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
