.suppke_video {
  background: url("../img/bg_video.jpg") center no-repeat;
  position: relative;
  padding-top: 120px;
  padding-bottom: 90px;
  -webkit-background-size: cover;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(29, 20, 44, 0.9);
    z-index: 2;
  }
}

.video_play {
  margin-bottom: 45px;
  a {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    background: #2acb35 none repeat scroll 0 0;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: background-color 0.25s ease-out;
      background-color: #fff;
      animation: 2s 0s both ease-out infinite;
      animation-play-state: running;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      background: #2acb35;
    }
  }
}

.suppke-wrap {
  position: relative;
  z-index: 3;
  width: 680px;
  margin: 0 auto;
}

.suppke_bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.vide__info {
  a {
    color: white;
    &:hover {
      background: padding-box;
    }
  }
  p {
    margin-bottom: 35px;
  }
}
