@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: normal;
  src: local("Baloo 2 Regular"), local("Baloo-2-Regular"),
    url("../fonts/baloo-2-v1-latin-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  src: local("Baloo 2 Medium"), local("Baloo-2-Medium"),
    url("../fonts/baloo-2-v1-latin-500.woff2") format("woff2");
  font-display: swap;
}

@import "theme";
@import "reset";
@import "layout";
@import "sitenav";
@import "typography";
@import "buttons";
@import "card";
@import "prism";
@import "utilities";
@import "header";
@import "home";
@import "advantages";
@import "supplement";
@import "video";
@import "order";
@import "ingredients";
@import "area";
@import "packages";
@import "doctors";
@import "blogs";
@import "brend";
@import "news";
@import "links";
@import "animation";
@import "menu";
li {
  list-style-type: none;
}

body {
  font-family: Poppins;
  background-color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a:hover {
  color: #2acb35;
  background: white;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

.arrowUp {
  position: fixed;
  z-index: 30;
  background: #2acb35;
  bottom: 50px;
  right: 30px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  color: white;
  font-size: 20px;
  line-height: 48px;
  i {
    color: white;
  }
  &:hover {
    background: #2acb35;
  }
}
