---
layout: base.njk
pageTitle: Supky
---


<header class="header">
  <div class="header__padding">
    <div class="container">
      <div class="main_menu">
        <nav class="navbar_header">
          <!-- logo -->
          <a href="#">
            <img src="img/Logo_1.png" alt="" />
          </a>
          <!-- end logo -->
          <div class="nav_links">
            <ul class="nav__navigatione">
              <li class="nav__item">
                <a href="#"> Home </a>
              </li>
              <li class="nav__item">
                <a href="#">Supplement</a>
              </li>
              <li class="nav__item">
                <a href="#">Order </a>
              </li>
              <li class="nav__item">
                <a href="#">Price </a>
              </li>
              <li class="nav__item">
                <a href="#">Ingredient </a>
              </li>
              <li class="nav__item">
                <a href="#">Blog </a>
              </li>
              <li class="nav__item">
                <a href="#">Contact </a>
              </li>
            </ul>
          
            <a href="#" class="header__link search_type">
              <i class="fas fa-search"></i>
            </a>
            <a href="#" class="header__link basket_type">
              <i class="fas fa-shopping-basket"></i>
              <span class="counter">0</span>
            </a>
            <div class="header__btn">
              <a href="#" class="btn"> ORDER NOW</a>
            </div>
          </div>
          <!-- Header action -->
          <!-- end header action -->
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="home">
  <div class="container">
    <div class="home__content">
      <div class="home__text">
        <h1>Super <span>Convenient</span> Quality Protein</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur seddo eiumod tempor incididunt labore adipiscing
          seddo eiumod
        </p>
        <div class="home__btns">
          <div class="home_right__btn">
            <a href="#" class="btn"> PURCHASE</a>
          </div>
          <div class="home_left__btn">
            <a href="#" class="btn" class="btn_contact"> CONTACT</a>
          </div>
        </div>
      </div>
      <img src="img/slider_img.png" alt="" class="slider" />
    </div>
  </div>
</section>

<!-- Advantages -->
<section class="advantages">
  <div class="advantages-wrap">
  <div class="container">

      <div class="widget-container">
        <div class="advantages__item">
          <div class="adv__icon">
            <img src="img/advantages/adv_item1.png" alt="">
          </img>
          </div>
          <h5>
            Increased Energy
            </h5>
            <p>Lorem ipsum dolor sitamet molis region dolor amet mis.</p>
        </div>
      </div>

      <div class="widget-container">
        <div class="advantages__item">
          <div class="adv__icon">
            <img src="img/advantages/adv_item2.png" alt="">
          </img>
          </div>
          <div class="advantages_content">
            <h5>
              Calorie Build Up
            </h5>
            <p>Lorem ipsum dolor sitamet molis region dolor amet mis.</p>
          </div>
        </div>
      </div>
    

    <div class="widget-container">
      <div class="advantages__item">
        <div class="adv__icon">
          <img src="img/advantages/adv_item3.png" alt="">
        </img>
        </div>   
        <div class="advantages_content">
          <h5>
            Energy Grow Up
          </h5>
          <p>Lorem ipsum dolor sitamet molis region dolor amet mis.</p>  
        </div>     
      </div>  
    </div>


    <div class="widget-container">
      <div class="advantages__item">
        <div class="adv__icon">
          <img src="img/advantages/adv_item4.png" alt="">
        </img>
        </div>
        <div class="advantages_content">
          <h5>
            Regular Routine
        </h5>
        <p>Lorem ipsum dolor sitamet molis region dolor amet mis.</p>
        </div>      
      </div>  
    </div>


  </div>
  </div>
</section>
<!-- Supplement -->
<section class="supplement">
  <div class="container">
    <div class="supplement-container">
      <div class="supple_img">
        <img src="img/supplement.png" alt="" class="suppl__img">
      </div>
      <div class="suppl__content">
        <h5>About Supplement</h5>
        <h3>Dietary Supplement Pill Product Intended</h3>
        <p>Lorem ipsum, or lipsum as it is sometimes known dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown.</p>
        <div class="supp_ul">
          <div class="supp_icon"><i class="fas fa-check"></i></div>
          <div class="supple_text">Sometimes known dummy</div>
        </div>
        <div class="supp_ul">
          <div class="supp_icon"><i class="fas fa-check"></i></div>
          <div class="supple_text">Best solution for developing your business</div>
        </div>
        <div class="supp_ul">
          <div class="supp_icon"><i class="fas fa-check"></i></div>
          <div class="supple_text">Deserunt ad ipsum sint excepteur</div>
        </div>
        <div class="supp_ul">
          <div class="supp_icon"><i class="fas fa-check"></i></div>
          <div class="supple_text">Lorem sit occaecat ea proident excepteur</div>
        </div>
        <div class="suppl_btn">

          <a href="#" class="btn">BUY NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ------- end supp -->

<section class="suppke_video">
  <div class="suppke_bg">
    <div class="container">
      <div class="suppke-wrap">
        <div class="video_play">
          <a class="popup-video" href="https://www.youtube.com/watch?v=iuJDhFRDx9M&ab_channel=MasterZX">
          <i class="fas fa-play"></i>
          </a>
        </div>
        <div class="vide__info">
          <h3>Awesome Supplement For Your Body We Have 15 Years Of Experience</h3>
          <p>There are many variations of passages of Lorem Ipsum that available, but the majority have fered alteration in some form, by injected humour that available.</p>
          <a href="#" class="btn">MORE SERVICES</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- suppke_video -->



<section class="order">
  <div class="container">
    <div class="order_title">
      <h3>Order & Tips Suppke
      </h3>
      <div class="bar"></div>
      <p>There are many variations of passages of Lorem Ipsum that available, but the majority have fered alteration in some form, by injected humour.</p>
    </div>
    <div class="order-wrap">
      <div class="order-img" data-gallery="order-gallery">
        <div class="active-product" data-gallery="full">
          <img src="img/order/order1.jpg" alt="">

        </div>
        <div class="product-nav-active" data-gallery="preview">
          <img src="img/order/order1.jpg" alt="">
          <img src="img/order/order2.jpg" class="kek" alt="">
          <img src="img/order/order3.jpg " alt="">
          <img src="img/order/order4.jpg" alt="">
        </div>
      </div>
      <div class="order-content">
        <h3>VIDMATE CAPSULE</h3>
        <div class="price">
          <i>
            £120.00
          </i>
          <span> ☆ ☆ ☆ ☆ ☆</span>
        </div>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which even slightly believable.</p>
        <div class="order_btn">
          <a href="#" class="btn">ORDER NOW</a>
        </div>

        <div class="product__info">
          <h5>PRODUCT INFO</h5>
          <div class="product__category">
            <span><i>CATEGORY:</i> <a href="#">VIDMEATE CAP</a></span>
          </div>
        </div>

          <div class="nav__reviews">

            <nav class="reviews_tabs">
              <a  class="tab-link" href="#Description">Description</a>
              <a class="tab-link" href="#Reviews">Reviews (1)</a>
            </nav>
      
            <div class="reviews__body">
              <div id="Description" class="DESCRIPTION nav_rev" >
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              </div>

            <div id="Reviews" class="nav_rev reviews" >
              <div class="reviews__commet">
                <img src="img/reviews_girl.jpeg" alt="">
                <div class="reviews__content">
                  <span>☆ ☆ ☆ ☆ ☆</span>
                  <div class="info">
                    
                    <p><strong>smith</strong><span>-</span>December 20,2020</p>
                  </div>
                  <div class="text">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                  </div>
                </div>
              </div>
              <div class="review_form_wrapper">
                <div class="review_form">
                  <span>ADD A REVIEW</span>
                  <form action="#">
                    <p class="comment-notes">
                      <span>Your email address will not be published.</span>
                      Required fields are marked
                      <span class="required">*</span>
                    </p>
                    <div class="comment-form-rating">
                      <label for="rating">Your rating 
                        <span class="required">*</span>
                      </label>
                      <select name="rating" id="rating">
                        <option value="">Rate...</option>
                        <option value="5">Perfect</option>
                        <option value="4">Good</option>
                        <option value="3">Average</option>
                        <option value="2">Not that bad</option>
                        <option value="1">Very poor</option>
                      </select>
                    </div>
                    <p class="comment-form-comment">
                      <label for="comment">
                        Your review
                        <span class="required">*</span>
                      </label>
                      <textarea name="comment" id="comment" cols="45" rows="8" required></textarea>
                    </p>
                    <p class="comment-form-author">
                      <label for="author">
                        Name
                        <span class="required">*</span>
                      </label>
                      <input type="text" name="author" id="author" class="input_100">
                    </p>
                    <p class="comment-form-email">
                      <label for="email">
                        Email
                        <span class="required">*</span>
                      </label>
                      <input type="text" name="email" id="email" class="input_100">
                    </p>
                    <p class="comment-form-cookie">
                      <input type="checkbox" value="yes">
                      <label for="">Save my name, email, and website in this browser for the next time I comment.</label>
                    </p>
                    <p class="form-submit">
                      <input type="submit" name="submit" class="submit input_100" value="Submit">
                    </p>
                  </form>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", ()=> {
    let orderGallery = new VanillaGallery({
      elem: "order-gallery",
    });
    console.log("orderGallery", orderGallery)
  });
</script>

<section class="ingredients">
  <div class="container">
    <div class="ingredients__title">
      <h3>Suppke Ingredients</h3>
      <div class="bar"></div>
      <div class="ingredients__text">
        <p>There are many variations of passages of Lorem Ipsum that available, but the majority have fered alteration in some form, by injected humour.</p>

      </div>
    </div>
    <div class="ingredients__main">
        <img src="img/ingred_photo.jpg" alt="">
      <div class="faq">

        <details>
          <summary>Free Ingredients provides a searchable list ?</summary>
          <p>There are many variations of passages of Lorem Ipsum that available, but the majority have fered altion in some form, by injected humour.variations of passages of Lorem Ipsum that.</p>
        </details>

        <details>
          <summary>VidMate app is a powerful application ?</summary>
          <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.</p>
        </details>

        <details>
          <summary>Can i change any elements easilly?</summary>
          <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.</p>
        </details>

        <details>
          <summary>Free Ingredients provides a searchable and abortion ?</summary>
          <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.</p>
        </details>

        <details>
          <summary>Latest version through Vidmate powerful ?</summary>
          <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.</p>
        </details>

      </div>
      
    </div>
  </div>
</section>


<section class="area">
  <div class="container">
    <div class="area-wrap">
      <div class="area__items">
        <div class="area__img">
          <img src="https://themebeyond.com/demo/suplive/wp-content/uploads/2020/12/fact_icon01.png" alt="">
        </div>
        <div class="area__content">
          <span>3,560</span>
          <p>package delivered</p>
        </div>
      </div>
      <div class="area__items">
        <div class="area__img">
          <img src="https://themebeyond.com/demo/suplive/wp-content/uploads/2020/12/fact_icon02.png" alt="">
        </div>
        <div class="area__content">
          <span>195</span>
          <p>countries coverd</p>
        </div>
      </div>
      
      <div class="area__items">  
        <div class="area__img">
          <img src="https://themebeyond.com/demo/suplive/wp-content/uploads/2020/12/fact_icon03.png" alt="">
        </div>
        <div class="area__content">
          <span>445</span>
          <p>happy customer</p>
        </div>
      </div>


      <div class="area__items">          
        <div class="area__img">
          <img src="https://themebeyond.com/demo/suplive/wp-content/uploads/2020/12/fact_icon04.png" alt="">
        </div>
        <div class="area__content">
          <span>99</span>
          <p>year experience</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="packages">
  <div class="container">
    <div class="packages__title">
      <h4>Choose Your Packages</h4>
      <div class="bar"></div>
      <div class="packages__text">
        There are many variations of passages of Lorem Ipsum that available, but the majority have fered alteration in some form, by injected humour.
      </div>
    </div>
    <div class="pacages__content">


      <div class="price_cart">
        <div class="price__head">
          <div class="price__icon">
            <img src="https://themebeyond.com/demo/suplive/wp-content/uploads/2020/12/03.png" alt="">
          </div>
          <h5>Pricing 1</h5>
          <span>MONTHLY</span>
          <p>Subscribe Best Plus</p>
          <div class="price__count">
            <h4>1 Person User - $59</h4>
          </div>
        </div>
          <div class="price__list">
            <p>
              1 Person User vidmate
           </p> 
            <p>
              40 MG Per Capsule
            </p>
            <p>
              50 Capsules Per Bottle
            </p>
            <p>
             20% Future Purchases
            </p> 
          </div>
          <div class="price__btn">
            <a href="#" class="btn">Buy Now
              <i class="fas fa-shopping-cart"></i>

            </a>
          </div>
      </div>


      <div class="price_cart">
        <div class="price__head">
          <div class="price__icon">
            <img src="https://themebeyond.com/demo/suplive/wp-content/uploads/2020/12/02.png" alt="">
          </div>
          <h5>Pricing 2</h5>
          <span>YEARLY</span>
          <p>Subscribe Best Plus</p>
          <div class="price__count">
            <h4>5 Person User - $100</h4>
          </div>
        </div>
          <div class="price__list">
            
            <p>
               5 Person User vidmate
            </p> 
             <p>
               50 MG Per Capsule
             </p>
             <p>
               60 Capsules Per Bottle
             </p>
             <p>
              40% Future Purchases
             </p> 
            
          </div>
          <div class="price__btn">
            <a href="#" class="btn">Buy Now
              <i class="fas fa-shopping-cart"></i>

            </a>
          </div>
      </div>


      <div class="price_cart">
        <div class="price__head">
          <div class="price__icon">
            <img src="https://themebeyond.com/demo/suplive/wp-content/uploads/2020/12/01.png" alt="">
          </div>
          <h5>Pricing 3</h5>
          <span>2 YEAR</span>
          <p>Subscribe Best Plus</p>
          <div class="price__count">
            <h4>10 Person User - $200</h4>
          </div>
        </div>
          <div class="price__list">
            <p>
              10 Person User vidmate
           </p> 
            <p>
              400 MG Per Capsule
            </p>
            <p>
              500 Capsules Per Bottle
            </p>
            <p>
             70% Future Purchases
            </p> 
          </div>
          <div class="price__btn">
            <a href="#" class="btn">Buy Now
              <i class="fas fa-shopping-cart"></i>

            </a>
          </div>
      </div>


    </div>
  </div>
</section>

<section class="doctors">
  <div class="container">
    <div class="doctors-wrap">
      <div class="doctors__title">
        <h3>
          Recommended By Doctors
        </h3>
        <div class="bar"></div>
        <div class="title__text">
          There are many variations of passages of Lorem Ipsum that available, but the majority have fered alteration in some form, by injected humour..
        </div>
      </div>
      <div class="doctors__container">
          <div class="doctors__item">
            <img
              src="img/doctors/avatar1.jpg"
              alt=""
              class="doctors__img"
            />
            <div class="doctors__content">
              <h3 class="doctors__label">Alexander Graham</h3>
              <p class="doctors__text">
                Vidmateth that availblut the majoriy have sufferd alterat some
                form huour the and ransed words which don't look even slightly
                belieblegg to passage
              </p>
              <p class="doctors__position">- Heart Specialist</p>
            </div>
          </div>
          <div class="doctors__item">
            <img
              src="img/doctors/avatar2.jpg"
              alt=""
              class="doctors__img"
            />
            <div class="doctors__content">
              <h3 class="doctors__label">Dorehe Angle</h3>
              <p class="doctors__text">
                Vidmateth that availblut the majoriy have sufferd alterat some
                form huour the and ransed words which don't look even slightly
                belieblegg to passage
              </p>
              <p class="doctors__position">- Heart Specialist</p>
            </div>
          </div>

          <div class="doctors__item">
            <img
              src="img/doctors/avatar3.jpg"
              alt=""
              class="doctors__img"
            />
            <div class="doctors__content">
              <h3 class="doctors__label">Tomas Alexander</h3>
              <p class="doctors__text">
                Vidmateth that availblut the majoriy have sufferd alterat some
                form huour the and ransed words which don't look even slightly
                belieblegg to passage
              </p>
              <p class="doctors__position">- Heart Specialist</p>
            </div>
          </div>
          <div class="doctors__item">
            <img
              src="img/doctors/avatar4.jpg"
              alt=""
              class="doctors__img"
            />
            <div class="doctors__content">
              <h3 class="doctors__label">Alexander Graham</h3>
              <p class="doctors__text">
                Vidmateth that availblut the majoriy have sufferd alterat some
                form huour the and ransed words which don't look even slightly
                belieblegg to passage
              </p>
              <p class="doctors__position">- Neurologist</p>
            </div>
          </div>

      </div>
        </div>

  </div>
</section>


<section class="blogs">
  <div class="container">
    <div class="blogs__title">
      <h3>  Blog & Tips Suppke</h3>
      <div class="bar"></div>
      <div class="title__text">
        There are many variations of passages of Lorem Ipsum that available, but the majority have fered alteration in some form, by injected humour.
      </div>
    </div>
    <div class="blogs__container">
      <div class="blogs__item">
        <img src="img/blogs/blog1.jpg" alt="">
        <div class="blogs__content">
          <div class="blogs__text">
            <span>DECEMBER 20, 2020</span>
            <h4>Homeopathic consultation Acupunc Expected</h4>
            <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae.
  
            </p>
          </div>
          <a href="#" class="blogs__btn-container">
            <p class="blogs__btn-label">Read More</p>
            <button class="blogs__btn">
              <i class="fas fa-plus"></i>
            </button>
          </a>
        </div>

      </div>
      <div class="blogs__item">
        <img src="img/blogs/blog2.jpg" alt="">
        <div class="blogs__content">
          <div class="blogs__text">
            <span>DECEMBER 20, 2020</span>
            <h4>Supplementing Your Diet Towards Life</h4>
            <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae.</p>
          </div>
          <a href="#" class="blogs__btn-container">
            <p class="blogs__btn-label">Read More</p>
            <button class="blogs__btn">
              <i class="fas fa-plus"></i>
            </button>
          </a>
        </div> 

      </div>
      <div class="blogs__item">
        <img src="img/blogs/blog3.jpg" alt="">
        <div class="blogs__content">
          <div class="blogs__text">
            <span>DECEMBER 20, 2020</span>
            <h4>Dietary Supplement Report Market Expect</h4>
            <p>Express dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae.</p>
          </div>
          <a href="#" class="blogs__btn-container">
            <p class="blogs__btn-label">Read More</p>
            <button class="blogs__btn">
              <i class="fas fa-plus"></i>
            </button>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="brends">
  <div class="container">
    <div class="brends-wrap">
      <div class="brends__item1">
        <img src="img/brends/brends1.png" alt="">
      </div>
      <div class="brends__item2">
        <img src="img/brends/brends2.png" alt="">
      </div>
      <div class="brends__item3">
        <img src="img/brends/brends3.png" alt="">
      </div>
      <div class="brends__item4">
        <img src="img/brends/brends4.png" alt="">
      </div>
      <div class="brends__item5">
        <img src="img/brends/brends5.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="form-news" id="form-news">
  <div class="container">
    <div class="form-news__main-container">
      <form class="form-news__container" action="#" class="">
        <div class="form-news__header">
          <h3 class="form-news__title">Newsletter Sign Up</h3>
          <p class="form-news__subtitle">Notifications our best deals...</p>
        </div>
        <div class="form-news__content">
          <input
            type="text"
            required
            class="form-news__input"
            placeholder="Your email address"
          />
          <button class="form-news__submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="links">
  <div class="container">
    <div class="links__social">
      <img src="img/Logo_2.png" alt="">
      <p>Orem Ipsum is simply dumm text the printing and types indstr sum has been the industry</p>
      <ul class="links__soc-container">
        <li class="footer__soc">
          <a href="#" class="links__soc-link"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li class="links__soc">
          <a href="#" class="links__soc-link"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="links__soc">
          <a href="#" class="links__soc-link"
            ><i class="fab fa-pinterest-p"></i
          ></a>
        </li>
        <li class="links__soc">
          <a href="#" class="links__soc-link"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="links__post">
      <h4>Recent Posts</h4>
      <div class="post__item">
        <img src="img/post/post1.jpg" alt="">
        <div class="post__text">
          <a href="#">Homeopathic consultation Acupunc</a>
          <p>December 20, 2020</p>
        </div>
      </div>
      <div class="post__item">
        <img src="img/post/post2.jpg" alt="">
        <div class="post__text">
          <a href="#">Supplementing Your Diet</a>
          <p>December 20, 2020</p>
        </div>
      </div>
    </div>
    <div class="links__useful">
      <h4>Useful Links</h4>
      <a href="#">
        About
      </a>
      <a href="#">
        Privacy Policy
      </a>
      <a href="#">
        Refund
      </a>
      <a href="#">
        Terms & Conditions
      </a>
    </div>
    <div class="links__send-form">
      <h4>Send Your Massage</h4>
      <form action="#">
        <input type="text" name="email" placeholder="Your E-mail">
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
      <button type="submit" class="links_btn">SUBMIT</button>
      </form>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="footer__text">
      Copyright © 2021 suppke All Rights Reserved.
    </div>
  </div>
</footer>